<div style="margin-top: 80px;">
    <h1>Escolha o jogo para criar equipe</h1>
    {{!-- League of Legends --}}
    <div>
        <a href="/equipe/integrantes/lol" class="btn btn-success">League of Legends</a>
    </div>

    <div>
        <a href="/equipe/integrantes/csgo" class="btn btn-success">Counter Strike: Global Ofensive</a>
    </div>

    <div>
        <a href="/equipe/integrantes/valorant" class="btn btn-success">Valorant</a>
    </div>


</div>