<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="style.css">

</head>

<body class="">
    <div class="usado"></div>
    <div class="container">
        <img src="https://i.imgur.com/x9uy4cu.png" class="img" alt="logo_Rivals">
        {{!-- <img src="cid:logo" class="img" alt="logo_Rivals"> --}}
        <p>Obrigado por se cadastrar na Rivals Tournaments! <br> Preparado para desafios de arrepiar?</p>
        <a href="http://191.180.104.80:8080/email/confirmaremail/{{id_user}}" style="cursor: pointer;">
            <button id="botao" class="button" type="submit">Confirmar E-mail</button>
        </a>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </div>
</body>

</html>