<div style="margin-top: 80px;">
    <h1>Olá {{#each user}}{{nome}}{{else}}{{/each}}</h1>
    <form action="/tournament/create" method="post">
        <label for="nomeTour">Nome do torneio</label>
        <input name="nomeTour" type="text">
        <button class="btn btn-success" type="submit">
            Criar Torneio
        </button>
    </form>
    <a href="/MUITO_MOD_1.8.zip" download="ModMine.zip">LinkModPacl</a>
</div>